@font-face {
    font-family: 'ChakraPatch';
    src: url('ChakraPetch-Regular.ttf');
}
@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Inspiration';
    src: url('Inspiration-Regular.ttf');
}
@font-face {
    font-family: 'Palette';
    src: url('PaletteMosaic-Regular.ttf');
}
@font-face {
    font-family: 'SpaceMono';
    src: url('SpaceMono-Regular.ttf');
}