#header{
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 3rem;
    margin: 0;
    padding: 10px 20px;
    font-family: 'Cinzel';
    letter-spacing: 2px;
}

.Nav{
    padding-right: 30px;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: flex-start;

}
li{
    padding: 0 13px;
    font-size: 1.5rem;
    font-weight: 0;
    /* font-family: 'Cinzel'; */
    font-family: 'ChakraPatch';
    cursor: pointer;
}
li:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}