#FooterWrapper{
    margin-top: 10%;
}

.PopUp img{
    width: 5rem;
    margin: 0 8%;
}

.FooterElements h4{
    font: 2rem 'ChakraPatch';
    margin: 0 3%;
}

.FooterMid{
    padding: 1.2rem;
}
.FooterMid ul{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.FooterMid li{
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 0;
    color: white;
    font-family: 'ChakraPatch';
    cursor: pointer;
}

.FooterMid li:hover{
    background: white;
    color: black;
    border-radius: 5px;
}

.FooterElements p{
    margin: 0 0 0 3%;
    padding: 1rem;
    text-align: right;
    font: 1.5rem 'Inspiration';
}

.FooterElements a{
    text-decoration: none;
    font-weight: 1000;
    letter-spacing: 3px;
    color: grey;
}